*{
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}

a{
	text-decoration: none;
	color: black;
}
.menu-container {
    position: relative;
	display: inline-block;
    z-index: 1;
}
.menu-icon {
    cursor: pointer;
    font-size: 50px;
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: -50px;
    right: 20px;
}

.menu-options {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: #871eb5;
    color: white;
    padding: 2em .2em;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}
.menu-options a {
    display: block;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.menu-options a:hover {
    background: #f5175e;
}
.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 20px;
    border-radius: 5px;
	cursor: pointer;
}

.menu-title {
    font-size: 60px;
    font-style: italic;
    margin-right: 100px;
    color: white;
    display: flex;
	width: 70vw;
	height: 10vh;
	border-radius:40px;
	justify-content: center;
	align-items: center;
}

iframe {
    width: 50%;
    height: 500px;
    padding: 20px;
    border-color: white;
}

h2{
	text-align: center;
	font-size: 40px;
	padding: 20px;
}

h5{
	font-family: verdana ;
	font-size: 20px;
	margin-top: 20px;
}

.carrusel{
	display: flex;
	justify-content: center;
	width: 50%;
	height: 70%;
}

.carrusel_nav{
	height: auto;
	overflow: hidden;
	margin-left: 50px;
	margin-top: 20px;
}

.carrusel_nav ul{
	display: flex;
	width: 300%;
	animation:slide 20s infinite alternate ease-in-out;

}

.carrusel_nav ul li{
	list-style: none;
	position: relative;
	margin: auto 0;
}


.carrusel_nav ul li img{
	width: 46.1vw;
	height: 45vh;
}

@keyframes slide{
	0% {margin-left:0;}
	15% {margin-left:0;}

	20% {margin-left:-100%;}
	35% {margin-left:-100%;}

	40% {margin-left:-200%;}
	55% {margin-left:-200%;}

	60% {margin-left:-300%;}
	75% {margin-left:-300%;}

	80% {margin-left:-400%;}
	100% {margin-left:-400%;}
}

.contenedor{
	display: flex;
	flex-direction: column;
	height: auto;
}
.encabezado{
	background: gray;
	color: white;
	padding: 25px ;
	margin: 5px;
	text-align: center;
	font-size: 40px;
}
.contenido{
	display: flex;
	flex-direction: space-between;
	flex: 1;
	background: lavender;
}
.enunciado{
	width: 40%;
	font-size: 3vw;
	text-align: center;
	margin-left: 55vw;
	margin-top: -25%;
	color: #270760;
	position: relative;
	top: 0%;
}
.texto1{
	position: relative;
	padding: 15px;
	background: #9d71fb;
	border: 1px lightgray;
	flex: 1;
	box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 40px;
	color: #5510e8;
	height: auto;
}

@media(max-width:500px){
	.contenido{
		flex-direction: column;
	}
}
.box {
    border: 4px solid #ccc;
    padding: 15px;
    width: 30%;
}
.social {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-box {
    text-align: center;
    width: 30%;
    border: 4px solid white;
    padding: 10px;
}
.social-box img {
    width: 50px;
    height: 50px;
}

.bottonForm{
	background-color: #8A76FF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    width: 10%;
}

.bottonForm a p{
	font-size: 15px;
}

/*#270760 */
.formulario{
	position: absolute;
	background-color: #e1c1ef;
	width: 80%;
	height: 80%;
	margin: 0 10% 0 10%;
	z-index: 1;
	top: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:10px;
	display: none;
}

.contentFormulario{
	width: 90%;
	height: 90%;
	background-color: #8A76FF;
}

.subtitulo{
	background-color: #d687f8;
	margin-top:10px;
}

.redes{
	display: flex;
	flex-flow: row-reverse;
}

.redes img{
	width: 4vw;
	margin: 0 1vw;
} 
footer{
	margin: 20px;
}
