*{
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #EAE4E4;
}

a{
	text-decoration: none;
	color: black;
}

.header_triangulo h2{
	position: relative;
	z-index: 1;
}
.header_triangulo{
    position: absolute;
    left: 0;
    background-color: none;
    border-top: 12vh solid #8A76FF;
    border-right:30vw solid #8A76FF;
    border-bottom:12vh solid transparent;
    border-left: 30vw solid #CA98FF;
}


.nav{
	display: flex;
	width: 70vw;
	height: 10vh;
	border-radius:40px;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	text-decoration-color: white;
}



.promo-boton,.promo-titulo{
	display: flex;
	justify-content: center;
}

.titulo{
	margin: 2vh 0 0 0;
	text-align: center;
	background-color:#F17A7A;
	border-radius:20px;
	width: 20vw;
	height: auto;
}

.boton{
	margin: 10vh 0 10vh 0;
	text-align: center;
	background-color:#E8A6EE;
	border-radius:20px;
	width: 10vw;
	height: auto;
}

.boton a{
	text-decoration: none;
}

.promo-img{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.promo-img img{
	width: 35%;
	margin: 10vh 0 0 0;
}



.redes{
	display: flex;
	flex-flow: row-reverse;
}

.redes img{
	width: 4vw;
	margin: 0 1vw;
} 


.contenedor {
	max-width:100%;
	margin: 20px auto;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
 
        h1 {
            margin-top: 0;
            font-size: 1.5em;
            color: #fff;
        }
 
        .menu{
            list-style: none;
            width: 80%;
            padding: 0;
            margin: 0;
        }
 
        .menu-item{
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
 
        .menu-item:hover{
            background-color: #1b5e20; 
        }
 
        .submenu{
            display: none;
            list-style: none;
            padding-left: 15px;
            margin: 0;
            color: #fff;
        }
 
        .submenu.active {
            display: block;
        }
 
        .submenu-item {
            padding: 10px 15px;
            cursor: pointer;
         
        }
 
        .menu-item.has-submenu::after {
            content: '▼';
            float: right;
            margin-left: 5px;
        }
 
        .menu-item.active-submenu::after {
            content: '▲';
        }

        nav{
        	width: 100%;
        	display: flex;
        	flex-flow: row;
        	justify-content: center;
        }

        #historia{
        	padding:20px;
        	background-color:#8A76FF;
        	border-radius: 60px 60px 0 0;
        }

        #mision-y-vision{
        	background-color:#D5E008;
        }

        #valores{
        	background-color:#7EF6F8;
        }

        .submenu-item{
        	display: flex;
        	justify-content:space-between;
        }

        .submenu-item img{
        	width: 40vw;
        	height: 10%;
        }

    footer{
    	margin: 20px;
    }

    .menu-container {
            position: relative;
            display: inline-block;
            z-index: 1;
        }
        .menu-icon {
            cursor: pointer;
            font-size: 50px;
            background: #333;
            color: white;
            padding: 10px;
            border-radius: 5px;
            position: absolute;
            top: -50px;
            right: 20px;
        }
        .menu-options {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            width: 30%;
            height: 100%;
            background: #871eb5;
            color: white;
            padding: 2.5em .2em;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        }
        .menu-options a {
            display: block;
            padding: 15px;
            font-size: 18px;
            text-decoration: none;
            color: white;
        }
        .menu-options a:hover {
            background: #f5175e;
        }
        .close-menu {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
        }
.header{
	width: 100%;
	height: 25vh;
	font-size: 30px;
	margin: 0 0 20px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	text-align-last: right;
	position: relative;
	background-color:#8A76FF;
}

.header_triangulo h2{
	position: relative;
	z-index: 1;
}
.header_triangulo{
    position: absolute;
    left: 0;
    background-color: none;
    border-top: 12vh solid #8A76FF;
    border-right:30vw solid #8A76FF;
    border-bottom:12vh solid transparent;
    border-left: 30vw solid #CA98FF;
}


.nav{
	display: flex;
	width: 70vw;
	height: 10vh;
	border-radius:40px;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	text-decoration-color: white;
}

.menu-title {
    font-size: 60px;
    font-style: italic;
    margin-right: 100px;
    color: white;
    display: flex;
	width: 70vw;
	height: 10vh;
	border-radius:40px;
	justify-content: center;
	align-items: center;
}


/*Estilo de las localidades*/

.contenedorCarrusel-map{
	position: relative;
	margin: 2% 10%;
	width: 80%;
	height: 500px;
}

.carrusel{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.carrusel-seccion{
	width: 40%;
	height: 100%;
}

.carrusel-seccion iframe{
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
